*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
a{
    text-decoration: none;
}
.navigation {
    margin: 1em;
    background-color: rgb(92, 146, 167);
    width: 100%;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.navigation__link {
    padding: 0 2em 0 2em;
    color: rgb(255, 255, 255);
}
.navigation__link:hover{
    transform: translate(2px, 5px);
    transition-delay: 0.1s;
    color: rgb(247, 202, 4);
}

.fishList {
    flex-basis: 65%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
}

.fish__image {
    width: 18rem;
    height: 16rem;
}

.tipList {
    flex-basis: 30%;
    background-color: rgb(145, 127, 109);
}

.tip {
    margin: 0rem 4rem 0rem 1rem;
}

.bordered {
    border: 1px dashed rgb(189, 186, 40);
}
.fish{
    margin: 10px;
    flex-basis: 20%;
}
.fish-name-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}
.btn-details{
    flex-basis: 50%;
    background-color: rgb(111, 129, 126);
    text-align: center;
    text-decoration: none;
    border-radius: 5px ;
    color: white;
}
h3{
    text-align: center;
    color: rgb(17, 83, 128);
}
.dialog--fish{
    text-align: center;
}