.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navigation {
    margin: 2em;
}

.navigation__link {
    padding: 0 1em 0 1em;
}

.fishList {
    flex-basis: 65%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.fish__image {
    width: 18rem;
    height: 16rem;
}

.tipList {
    flex-basis: 30%;
}

.tip {
    margin: 0rem 4rem 0rem 1rem;
}

.bordered {
    border: 1px dashed rgb(50, 163, 93);
}
.fish{
    margin: 10px;
    flex-basis: 20%;
}
.fish-name-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}
.btn-details{
    flex-basis: 50%;
    background-color: rgb(135, 154, 161);
    text-align: center;
    text-decoration: none;
    border-radius: 5px ;
    color: white;
}
h3{
    text-align: center;
    color: rgb(17, 83, 128);
}